:root {
    --fondo: #0F172A; 
    --secundario: #1E293B; 
    --texto-principal: #F1F5F9;
    --texto-secundario: #94A3B8;
    --boton: #22C55E; 
    --boton-hover: #16A34A;
    --acento: #38BDF8; 
    --card: #1E293B; 
    --card-borde: #38BDF8;
}

* { 
    box-sizing: border-box;
    margin: 0;       
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--fondo);
    color: var(--texto-principal);
}