:root {
    --fondo: #0F172A; 
    --secundario: #1E293B; 
    --texto-principal: #F1F5F9;
    --texto-secundario: #94A3B8;
    --boton: #22C55E; 
    --boton-hover: #16A34A;
    --acento: #38BDF8; 
    --card: #1E293B; 
    --card-borde: #38BDF8;
}

* { 
    box-sizing: border-box;
    margin: 0;       
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--fondo);
    color: var(--texto-principal);
    max-width: 1300px;
    margin: auto;
}

section{
    scroll-margin-top: 40px;
}

img{
    width: 50%;
    height: 50%;
}

main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "inicio inicio"
    "contexto contexto"
    "analisis derecho"
    "soluciones soluciones"
    "conclusion conclusion"
    "autores autores"
    ;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    gap: 60px;
}

/* Diseños Globales */
.card-section{
    background-color: var(--secundario);
    border: 1px solid var(--card-borde);
    border-radius: 5px;
    box-shadow: 0 0 15px #0008;
    padding: 20px;
}

/* Header Section  */

.inicio{
    grid-area: inicio;
}

.header{
    padding: 40px;
    text-align: center;
    position: relative;
}

.header h1{
    font-size: 60px;
}

.barra-navegacion{
    margin: 20px auto;
    width: 60vw;
    background-color: #1E3A8A;
    padding: 30px;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
}

.contenedor-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    list-style: none;
}

.links :hover{
    color: var(--texto-secundario);
}

.links a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}

.links a.active{
    background-color: var(--acento);
    color: black;
    border-radius: 6px;
}

/* Inicio section*/

.inicio{
    grid-area: inicio;
}

.contenedor-inicio{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.contenedor-inicio img{
    width: 50%;
    height: 50%;
}

.texto-inicio{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    gap: 10px;

}

.inicio-article{
    color: var(--texto-secundario);
    text-align: center;
}

/* contexto section */
.contexto{
    grid-area: contexto;
}

/* analisis section */
.analisis{
    grid-area: analisis;
}

/*derechos section */
.derechos {
    grid-area: derecho;
}

/* soluciones section */
.soluciones {
    grid-area: soluciones;
}

/* conclusion section */
.conclusion {
    grid-area: conclusion;
}

/* Autores section */
.autores{
    grid-area: autores;
}